.header {
  position: absolute;
  top: 5px;
  left: 0;
  width: 100%;
  height: 70px;
  z-index: 50;
}

.header__container > *:first-child { margin-left: 45px; }
.header__container > *:last-child { margin-right: 45px; }

.header__container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}