.history-list-item {
  padding: 12px 20px;
  text-align: left;
  color: var(--gray-dark);
  font-size: 16px;
  line-height: 18px;
  transition: 0.3s;
  border-bottom: 1px solid var(--white);
  cursor: pointer;
}